body{
    background-color: cornsilk;
    border: 10px solid purple;
    border-radius: 10px;
    background-image: url(https://images.wallpapersden.com/image/download/blue-glowing-4k-line_bGVpbWWUmZqaraWkpJRpZWVlrWdnamU.jpg);
    height: auto;
    width: auto;
    text-align: center;
    font-size: larger;
    font-style: oblique;
    text-align: center;
}
